*{}
body {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-decoration: dashed;
    background: url(../assets/stars.jpg);
    margin:0;

}

#nav-holder {
    width: 100%;
    padding: 0px;
    height: 300px;
    background: url(../assets/cloud-nav3.png);
    -webkit-background-size: 1350px 300px;
    background-size: 1350px 300px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.nav {
    width: 55%;
    margin: 0 auto;
    padding-left: 50px;
}

.nav-item {
    float: left;
    margin-right: 20px;
    text-align: center;
    background-color: #1d2140;
    width: 120px;
    height: 120px;
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    border-radius:200px;
    margin-top: 20px;
    font-weight: 900;
}



a {
    text-decoration: none;
}

#jumpy div {
    width: 80px;
    height: 100px;
    background: url(../assets/jumpy.png);
    -webkit-background-size: 80px 100px;
    background-size: 80px 100px;
    background-repeat: no-repeat;
    margin-left: 17px;
    margin-top: 5px;
}

#nav p {
    margin: 0 auto;
    margin-top: 15px;
    color: #1d2140;
    font-size: 30px;
}

#play {
    margin-top: 100px;
}
#play div {
    width: 100px;
    height: 100px;
    background: url(../assets/play-button.png);
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}

#shop {
    margin-top: 60px;
}

#shop p {
    margin-top: 0;
}

#shop div {
    width: 100px;
    height: 100px;
    background: url(../assets/shopping-cart.png);
    -webkit-background-size: 80px 70px;
    background-size: 80px 70px;
    background-repeat: no-repeat;
    margin-top: 25px;
    margin-left: 18px;
}

#login, #profile {
    margin-top: 60px;
}

#login div, #profile div {
    width: 80px;
    height: 80px;
    margin: 0px auto;
    margin-top: 23px;
    background: url(../assets/login.png);
    -webkit-background-size: 70px 70px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

#profile div {
    background: url(../assets/user-profile.png);
    -webkit-background-size: 80px 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

#register div, #logout div {
    width: 110px;
    height: 100px;
    margin-left:10px;
    margin-top: 11px;
    background: url(../assets/register.png);
    -webkit-background-size: 100px 90px;
    background-size: 100px 90px;
    background-repeat: no-repeat;
}

#logout div {
    background: url(../assets/logout.png);
    -webkit-background-size: 90px 80px;
    background-size: 90px 80px;
    background-repeat: no-repeat;
    margin-left:15px;
    margin-top: 17px;
}

#game-container {
    width: 100%;
    margin-bottom: 50px;
}

#game-div {
    width: 57%;
    height:600px;
    background: rgba(7, 11, 25, 0.8);
    margin: 0 auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding-top: 60px;
}

canvas {
    margin: 0 auto;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#game-controls {
    width: 90%;
    margin: 0 auto;
}

.control {
    float: left;
    margin-top: 40px;
    margin-left: 55px;
    font-size: 20px;
    color: #ccc;
}

#footer {
    height: 300px;
    background: url(../assets/planet.png);
    -webkit-background-size: 1350px 300px;
    background-size: 1350px 300px;
    background-repeat: no-repeat;
}

.footer-item {
    background-color: #D8D8D8;
}

#facebook {
    margin-top: 140px;
}
#facebook div {
    width: 110px;
    height: 100px;
    margin-left:10px;
    background: url(../assets/fb-logo.png);
    -webkit-background-size: 100px 90px;
    background-size: 100px 90px;
    background-repeat: no-repeat;
}

#twitter {
    margin-top: 100px;
}

#twitter div {
    width: 110px;
    height: 100px;
    margin-left:13px;
    margin-top: 25px;
    background: url(../assets/twitter-logo.png);
    -webkit-background-size: 90px 80px;
    background-size: 90px 80px;
    background-repeat: no-repeat;
}
#google {
    margin-top: 60px;
}

#google div {
    width: 110px;
    height: 100px;
    margin-left:15px;
    margin-top: 9px;
    background: url(../assets/google-plus-logo.png);
    -webkit-background-size: 90px 80px;
    background-size: 90px 80px;
    background-repeat: no-repeat;
}

#instagram {
    margin-top: 100px;
}

#instagram div {
    width: 110px;
    height: 100px;
    margin-left:20px;
    margin-top: 30px;
    background: url(../assets/instagram-logo.png);
    -webkit-background-size: 80px 70px;
    background-size: 80px 70px;
    background-repeat: no-repeat;
}

#about-us {
    margin-top: 140px;
}
#about-us div {
    width: 110px;
    height: 100px;
    margin-left:7px;
    margin-top: 20px;
    background: url(../assets/about-us-logo.png);
    -webkit-background-size: 100px 80px;
    background-size: 100px 80px;
    background-repeat: no-repeat;
}


#footer p {
    margin-top: -35px;
    color: #FAFAFA;
}

@media screen and (min-width: 1600px) {
    #nav-holder {
        width: 100%;
        padding: 0px;
        height: 300px;
        background: url(../assets/cloud-nav3.png);
        -webkit-background-size: 1600px 300px;
        background-size: 1600px 300px;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }

    .nav {
        width: 50%;
        margin: 0 auto;
        padding-left: 100px;
    }

    #footer {
        height: 300px;
        background: url(../assets/planet.png);
        -webkit-background-size: 1600px 300px;
        background-size: 1600px 300px;
        background-repeat: no-repeat;
    }
    
    .table {
    width: 1500px;

    }
    
	.table-heading {
	    width: 1000px;
	}
	
	.table-body {
	    width: 1000px;
	}
	
	td, th {
	width: 200px;
	}
    
}


/*RANKLIST/HOMEPAGE*/
         /**/


.table-container {
    padding: 60px 0 10px 0;
    width: 60%;
    margin: 0 auto;
    background: rgba(16, 18, 34, 0.7);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-bottom: 50px;
    line-height: 30px;
}

.table {
    width: 85%;
    margin: 0 auto;
    background: rgba(242, 242, 242, 0.7);
    color: #1d2140;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-weight: 900;
    margin-bottom: 50px;
}

.table-heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    padding-top: 30px;
    font-size: 40px;
    color: #1d2140;
}

#trophy, #money {
    width: 80px;
    height:70px;
    margin: 0 auto;
    background: url(../assets/trophy.png);
    -webkit-background-size: 80px 70px;
    background-size: 80px 70px;
    background-repeat: no-repeat;
}

#money {
    background: url(../assets/crown.png);
    -webkit-background-size: 80px 70px;
    background-size: 80px 70px;
    background-repeat: no-repeat;
}

.table-body {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}
table {
    width: 100%;
    line-height: 40px;
    padding-bottom: 20px;
}
th, th a{
    color: #4C5490;
    font-size: 25px;
    font-weight:900;
    line-height: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

thead {
    padding-bottom: 20px;
    line-height: 80px;
    background: rgba(237, 191, 24, 0.9);
}

td{
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

table button {
    background: #1d2140;
    border: 1px solid #4C5490;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    color: #4C5490;
    font-weight: 600;
}

table button:hover {
    height: 50px;
    background-color: #5C6BDB;
    color: #CCC;
}

table a:hover {
    color: #5C6BDB;
}

table tbody tr.even,
table tbody tr.alt {
    background: #f9f9f9;
}


table tbody tr td {
    color: #333;
    padding: 9px 10px;
    border: none;
}

table tbody tr:nth-child(even) {
    background: #BDBDBD;
    color: #CCC;
}

.nav-item:hover {
    background-color: #EDBF18;
    color: #EDBF18;
}
table td:last-child {
    border-bottom: 0;
}

.footer-item:hover {
    color: #A2ABF0;
}

/*LOGIN*/


form {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.form-group {
    width: 70%;
    margin: 0 auto;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border: 1px groove #FAFFBD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #FAFFBD ;
    color: #1d2140;
    font-size: 20px;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    color: #1d2140;
    text-align: center;
    background: #FAFFBD
}

.checkbox label {
    font-size: 25px;
}

label {
    color: #FAFFBD;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30%;
}

.form-group button {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 43px;
    cursor: pointer;
    background: #EDBF18;
    border: 1px groove #EDBF18;
    color: #FAFFBD;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: 900;
    margin-top: 30px;
}


/*PROFILE*/

.panel-heading {
    width: 99.4%;
    margin: 0 auto;
    text-align: center;
    background: #EDBF18;
    height: 70px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 70px;
    color: #4C5490;
    font-weight: 900;
    font-size: 25px;
}
.profile-image-holder {
    width: 25%;
    margin: 0 auto;
}

.panel-heading img{
    width: 60px;
    height: 70px;
    float: left;
}
.panel-body-holder {
    width: 85%;
    margin: 0 auto;
}

.panel-body {
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}

.profile-table {
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.profile-table-container .table {
    padding-top: 5px;
}

.link {
    width: 200px;
    height:70px;
    background-color: #4C5490;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 70px;
    margin-bottom: 20px;
}

.link a {
    color: #CCC;
}

.link a:hover {
    color: #EDBF18;
}

.inventory {
    margin-top:70px;
    background-color: #4C5490;
    color: #EDBF18;
}

.inventory img {
    height: 60px;
    margin-top: 5px;
}

.change {
    background-color: transparent;
    margin-top: 30px;
}

.change label {
    line-height: 50px;
}

.change button {
    background: #1d2140;
    border: 1px solid #1d2140;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    color: #CCC;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    margin: 30px 0px 30px 15%;
}

.change button:hover {
    color: #EDBF18;
}

.skins {
    margin-bottom: 50px;
}

.skins input {
    float: left;
}

.skins-table button {
    background: #1d2140;
    border: 1px solid #1d2140;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    color: #CCC;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    margin-left: 43%;
    margin-top: 30px;
}

.skins-table button:hover {
    color: #EDBF18;

}